.posts {
    margin: 0;
    padding: 5px 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

@media screen and (min-width: 675px) {
    .posts {
        width: 70%;
    }
}